.background {
  display: flex;
  justify-content: center;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  border: 1px solid red;
}
